* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --v-dark: #CEDFF2;
    --v-dark: lightsteelblue;
    --v-light: #F5FAFF;
    --g-dark: #CEF2E0;
    --g-light: #F5FFFA;
    --gray-dark: #BFBFBF;
    --gray-light: #F9F9F9;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

img {
    max-height: 100%;
}

a, a:visited {
    color: inherit;
    display: block;
    text-decoration: none;
}

li {
    list-style: none;
}

.entry__title:after,
#search,
.entry,
.random,
.footer__follow a {
    transition-property: width, color, fill, background, background-color, border, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

/* ====================================================================================================================== */

html {
    background: linear-gradient(to bottom right, #E4ECF6, #E4F6ED);
    background-attachment: fixed;
    min-height: 100%;
    overflow: visible;
}

.container {
    font-family: 'Raleway', arial, sans-serif;
    color: var(--gray-dark);
    text-align: center;
    width: 100%;
    height: 280px;
    max-width: 500px;
    margin: 20vh auto 30px;
    padding: 20px;
}

.logo {
    height: 200px;
}

#search {
    font-size: 20px;
    color: var(--gray-dark);
    width: 100%;
    height: 48px;
    border-radius: 7px;
    text-align: center;
    border: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    margin-top: 15px;
}

#search:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

#search:focus,
#search:active {
    outline: none;
    border: 1px solid #CEDFF2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

input[type=search]::placeholder {
    font-family: 'Raleway', arial, sans-serif;
    color: var(--gray-dark);
}

.random {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--gray-dark);
    padding: 10px;
    text-shadow: 0px 0px 2px var(--gray-light)
}

.random:hover {
    color: var(--v-dark);
}

#results, .results-title {
    display: none;
}

.results {
    max-width: 1200px;
    margin-top: 0;
}

.results .logo {
    height: 80px;
}

.results .random {
    display: none;
}

.results .results-title {
    display: block;
    text-shadow: 1px 1px 2px var(--gray-light);
    border-top: 2px solid var(--v-dark);
    margin-top: 25px;
    padding: 15px 0;
}

#term {
    text-transform: uppercase;
}

#term:before, #term:after {
    content: "“";
    color: var(--v-dark);
    font-size: 32px;
    vertical-align: middle;
    padding: 2px;
}

#term:after {
    content: "”";
}

.results #results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid var(--v-dark);
    margin-bottom: 50px;
}

.entry {
    background-color: var(--gray-light);
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 7px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    width: calc((100% - 40px) / 3);
    border-bottom: 5px solid #ccc;
    overflow: hidden;
}

.entry:nth-child(3n), .entry:last-child {
    margin-right: 0;
}

.entry:hover {
    background-color: #fff;
    border-bottom: 5px solid var(--g-dark);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.entry__link {
    padding: 15px;
    text-align: left;
    position: relative;
    height: 100%;
}

.entry__title {
    text-align: center;
    color: var(--v-dark);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.entry__title:after {
    content: "";
    display: block;
    height: 2px;
    width: 10%;
    margin: 5px auto;
    background: var(--g-dark);
/*    transition: width 0.2s ease-out;*/
}

.entry:hover .entry__title:after {
    width: 100%;
}

.entry__snippet {
    text-align: center;
}

/* ====================================================================================================================== */


.footer__follow {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 100px);
    width: 200px;
    text-align: center;
    cursor: default;
}

#results .footer__follow {
    bottom: -50px;
    margin-bottom: 10px;
}

.footer__follow a {
    display: inline-block;
    height: 15px;
    width: 15px;
    font-size: 20px;
    fill: var(--gray-dark);
    margin: 5px;
}

.footer__follow a:last-child {
    width: 20px;
    margin-left: 2px;
}

.footer__follow a:hover {
    fill: var(--v-dark);
}



@media screen and (max-width: 768px) {
    .entry {
        width: calc((100% - 20px) / 2);
        margin-right: 0;
    }
    
    .entry:nth-child(odd) {
    margin-right: 20px;
    }
    
    .entry:last-child {
        margin-right: 0;
    }
    
}


@media screen and (max-width: 414px) {
    .entry {
        width: 100%;
        margin-right: 0 !important;
    }
}

